<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free restoran apps">
    <title>Madhang Lur!</title>
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#E8E46E" />
    <link rel="apple-touch-icon" href="../public/favicon-apple.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
    <!-- Skip to Content -->
    <div class="skip">
        <a href="#content">Skip to content</a>
    </div>


    <!-- Menu Desktop -->
    <div class="headerDesktop">
        <div class="headerTitle">
            <h1><a href="javascript:void(0)">Madhang Lur!</a></h1>
        </div>
        <nav class="headerNav">
            <ul>
                <li><a class="headerNav_home" href="#/home">Home</a></li>
                <li><a class="headerNav_fav" href="#/like">Favorite</a></li>
                <li><a class="headerNav_about" href="https://github.com/kikikhayst">About Us</a></li>
            </ul>
        </nav>
    </div>


    <!-- Menu Mobile -->
    <div class="headerMobile">
        <nav>
            <ul>
                <li aria-label="hamburger" class="headerBurger" id="headerBurger"><a href="javascript:void(0)">☰</a></li>
                <li class="headerTitle_mobile"><a href="javascript:void(0)">Madhang Lur!</a></li>
            </ul>
        </nav>
    </div>
    <div id="drawer" class="headerMobile_nav">
        <nav class="headerNav mobile">
            <ul>
                <li><a class="headerNav_home" href="#/home">Home</a></li>
                <li><a class="headerNav_fav" href="#/like">Favorite</a></li>
                <li><a class="headerNav_about" href="https://github.com/kikikhayst">About Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <picture>
            <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">
            <img 
                src='./images/heros/hero-image_2-large.jpg' 
                alt="hero"></img>
        </picture>
        <div class="jumbotronTitle">
            <h1>Sembuhkan Lapar Anda</h1>
            <p class="jumbotronTagline">Habiskan uang anda untuk menyembuhkan lapar anda di resto rekomendasi kami</p>
        </div>
    </div>


    <div class="titleMain">
        <div id="headerContent" class="headerContent">
            <h1>Explore Restaurants</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#E8E46E" fill-opacity="1"
                d="M0,192L20,192C40,192,80,192,120,165.3C160,139,200,85,240,101.3C280,117,320,203,360,202.7C400,203,440,117,480,80C520,43,560,53,600,58.7C640,64,680,64,720,80C760,96,800,128,840,138.7C880,149,920,139,960,144C1000,149,1040,171,1080,160C1120,149,1160,107,1200,117.3C1240,128,1280,192,1320,218.7C1360,245,1400,235,1420,229.3L1440,224L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z">
            </path>
        </svg>
    </div>

    <!-- Content -->
    <main id="content"></main>

    <!-- Footer -->
    <footer>
        <p>Copyright &copy 2021 - <span class="spanFooter">Madhang Lur!</span></p>
    </footer>
</body>

</html>